<div class="container">
  <h1>Beispiel Route {{ index }}:</h1>
  <p>Lade eine von OpenRouteService generierte GeoJSON für Routen hoch!</p>
  <input #fileInput hidden="hidden" type="file" (change)="onFileChanged($event)">
  <div class="btn-group">
    <button type="button" mat-stroked-button (click)="fileInput.click()" class="image-btn">GeoJSON auswählen
    </button>
    @if (this.selectedGeoJSONFile) {
      <button mat-icon-button (click)="createRoute()">
        <mat-icon>send</mat-icon>
      </button>
    }
  </div>
  @if (this.selectedGeoJSONFile) {
    <span>Name: {{ this.selectedGeoJSONFile.name }}</span>
    <span>Datei: {{ this.selectedGeoJSONFile.size }} Bytes</span>
    <span>Type: {{ this.selectedGeoJSONFile.type }}</span>
  }
  <div id="map"></div>
</div>

