.container {
  width: 100%;
  min-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
}

.balance {
  font-size: 24px;
  color: darkblue;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.input-group {
  margin-bottom: 16px;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
}

.note {
  font-size: 13px;
  color: gray;
  margin-bottom: 16px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.deposit,
.withdrawal {
  flex: 1 1 48%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.deposit {
  background-color: green;
}

.deposit:hover {
  background-color: darkgreen;
}

.withdrawal {
  background-color: red;
}

.withdrawal:hover {
  background-color: darkred;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.transaction-card-content {
  display: flex;
  justify-content: space-between;
}

.transaction-card-info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.username {
  font-weight: bold;
}

.username:hover {
  cursor: pointer;
  text-decoration: underline;
}
