<div class="home-container">
  <img src="/home.jpg" alt="Home Page" class="background-image" />
  <div class="container">
    <h1>Starte deine Reise noch heute!</h1>
    <h2>Mit SEP-Drive kannst du Fahranfragen stellen und mit ein bisschen Glück wird sie ein Fahrer sofort übernehmen!</h2>
    <p>Wähle komfortabel dein Start- und Zielpunkt mit einer von drei verschiedenen Fahrzeugklassen.</p>
    <p>Dafür musst du dich nur bei uns registrieren bzw. anmelden. <span class="bold" [routerLink]="'/register'">Probiere es aus!</span></p>
  </div>
</div>
