.bold {
  font-weight: bold;
  color: deepskyblue;
}

.bold:hover {
  cursor: pointer;
  text-decoration: underline;
}
.home-container {
  position: relative;
  width: 100vh;
  height: 100vh; /* Vollbild-Höhe */
  }
.container {
  z-index: 2; /* Damit Text über dem Bild liegt */
  position: relative;
  color: white;

  font-family: Helvetica, Arial, sans-serif;
  font-style: oblique;
  max-width: 600px;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Bild in den Hintergrund */
}
