.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px black solid;
  position: fixed;
  height: 3.5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

.navbar-content {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}

.logo-btn {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}


.navbar-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.navbar-btn-container button {
  border: none;
  /*background: none;*/
  outline: none;

  /*background-color: #f0f0f0;      light gray */
  color: #333;                   /* dark text */
  padding: 10px 16px;
  margin-right: 8px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  /* transition: background-color 0.3s, color 0.3s;*/

 }

 .navbar-btn-container button:hover {
   text-decoration: underline;
   cursor: pointer;
   background-color: #e0e0e0;     /* slightly darker on hover */

}
.active-link {
  background-color: deepskyblue; /* dunkles Blau als Hintergrund */
  color: white; /* Textfarbe weiß für guten Kontrast */
  font-weight: bold;
  border-radius: 6px;
}

.login-btn {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.login-btn:hover {
  text-decoration: none;
  opacity: 0.7;
}

.register-btn {
  background: none;
  border: 1px black solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

}

.register-btn:hover {
  text-decoration: none;
  opacity: 0.7;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.profile-container:hover {
  cursor: pointer;
}

.profile-avatar {
  border-radius: 50%;
  overflow: hidden;
  background-color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;

  img {
    border-radius: 50%;
    object-fit: cover;
  }

  .initials {
    color: white;
  }

}
