body {
  background-color: #f5f7fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 40px 20px;
}

.profil-info {
  width: 500px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profil-info img{
  max-width: 80px;
  max-height: 80px;
  border-radius: 100px;
}

.info-zeile {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.beschreibung {
  font-weight: 600;
  color: #333;
  flex-basis: 45%;
}

.wert {
  flex-basis: 50%;
  text-align: right;
  color: #555;

}

.role,
.cartype,
.name     {
  text-transform: capitalize;
}

@media (max-width: 480px) {
  .info-zeile {
    flex-direction: column;
    align-items: flex-start;
  }

  .wert {
    text-align: left;
    margin-top: 5px;
  }
}

