<h1>Simulation mit {{ partnerDisplayName }}</h1>
<div class="container">
  <div class="background-content">
    <app-trip-visualizer [route]="route"
                         [animationLayerGroup]="animationLayer"></app-trip-visualizer>
  </div>
  <div class="floating-content">
    <mat-card style="width: fit-content; min-width: 200px">
      <mat-card-content>
        <span class="title">Simulations-Steuerung</span>
        @if (tripOffer.status !== "COMPLETED") {
          @if (animationLocked) {
            <p style="font-weight: bold">Die Simulation ist momentan blockiert!</p>
          } @else {
            <div class="control-container">
              @if (!animationInitialized || animationPaused) {
                <button mat-icon-button (click)="start()" [disabled]="animationCompleted">
                  <mat-icon>play_arrow</mat-icon>
                </button>
              } @else if (!animationPaused) {
                <button mat-icon-button (click)="stop()" [disabled]="animationCompleted">
                  <mat-icon>pause</mat-icon>
                </button>
              }

              <div class="slider-container">
                <mat-slider style="min-width: 200px" min="3" max="30" step="1">
                  <input matSliderThumb [(ngModel)]="sliderDuration" (valueChange)="onSliderChange($event)"
                         [disabled]="animationCompleted">
                </mat-slider>
                <div class="slider-detail-container">
                  <span>3s</span>
                  <span>Dauer</span>
                  <span>30s</span>
                </div>
              </div>
            </div>
          }
        } @else {
          <p>Diese Fahrt wurde bereits simuliert!</p>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>
