<div class="header">
  <nav class="nav_buttons">
    <button mat-raised-button color="primary" [routerLink]="'/fahranfrage'">Fahranfrage</button>
    <button mat-raised-button color="accent" [routerLink]="'/aktiveFahranfrage'">Aktive Fahranfrage</button>
  </nav>
</div><br>
<div class="banner">
  <h2> Deine Fahrt. Unser Weg... </h2>
</div>
<div class="container">
  <form [formGroup]="tripRequestForm" (ngSubmit)="checkActiveRide()">
    <!--start position options-->
    <div class="start">
      <p>
        <mat-icon style="color: coral;">location_on</mat-icon>
        <label><strong>Von</strong></label></p>
      <mat-form-field class="start-address-form-field">
        <mat-label>Startadresse/Startkoordinaten(lat,lng) eingeben</mat-label>
        <input type="text"
               matInput
               formControlName="startQuery">
        <button matTooltip="Aktuelle Position suchen" type="button" mat-icon-button matSuffix
                (click)="currentLocation()">
          <mat-icon>my_location</mat-icon></button><br>
          <mat-select [(value)]="start" (selectionChange)="onStartChange($event)">
            @for (location of startLocations; track idx; let idx = $index) {
              <mat-option [value]="location">{{ location.display_name }}</mat-option>
            }
          </mat-select>
      </mat-form-field>

    </div>
    <div>
      <p>
        <mat-icon style="color: coral;">pin_drop</mat-icon>
        <label><strong>Nach</strong></label>
      </p>
      <mat-form-field class="end-address-form-field">
        <mat-label>Zieladresse/Zielkoordinaten(lat,lng) eingeben</mat-label>
        <input type="text"
               matInput
               formControlName="endQuery">
        <mat-select [(value)]="end" (selectionChange)="onEndChange($event)">
          @for (location of endLocations; track idx; let idx = $index) {
            <mat-option [value]="location">{{ location.display_name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

    </div>
    <div *ngIf="tripRequestForm.hasError('sameStartEndLocation') && tripRequestForm.touched" class="error"
         style="color: red;">
      Start- und Zieladresse dürfen nicht gleich sein.
    </div>
    <br>

    <!-- Vehicle class options -->
    <div class="vehicleClass">
      <label><strong>F A H R Z E U G K L A S S E</strong></label><br>
      <mat-radio-group class='form-control' formControlName="carType" aria-label="Select an option">
        <p>
          <mat-radio-button value="SMALL"> K L E I N</mat-radio-button>
        </p>
        <p>
          <mat-radio-button value="MEDIUM">M I T T E L</mat-radio-button>
        </p>
        <p>
          <mat-radio-button value="DELUXE">D E L U X E</mat-radio-button>
        </p>
      </mat-radio-group>
    </div>

    <div class="note-box">
      <label color="orange"><strong>Bemerkung</strong>(optional)</label>
      <p>
        <mat-form-field class="bem-field">
          <mat-label>Kommentar eingeben</mat-label>
          <input type="text"
                 aria-label="Kommentare eingeben"
                 class='form-control'
                 matInput
                 formControlName="note" placeholder="Bsp.Seien Sie bitte pünktlich">
        </mat-form-field>
      </p>
    </div>


    <div class="search_button">
      <button type="submit" mat-raised-button [disabled]="!tripRequestForm.valid">
        FAHRTANFRAGE ERSTELLEN
      </button>
    </div>

  </form>
</div>
