.header{
  padding: 16px;
  background-color: lightgray;
  display: flex;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  align-items: center;
}
.start-address-form-field {
  width: 500px;
  height: auto;
}
.end-address-form-field{
  width: 500px;
  height: auto;
}
.search_button{
  width: 400px;
  word-break: break-word;
  align-items: center;
}
/*.form {*/
/*  max-width: 50%;*/
/*}*/

.form {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: coral;
  background-color:bisque;
  background-clip: padding-box;
  border: coral;
  border-radius: 20px;
  align-items: center;
}
.bem-field{
  width: 500px;
}
.banner {
  background-image: url('../../../../public/front_pic.jpg');
  background-size: cover;
  background-position: center;
  min-height: 200px;
  height: 30vh;
  display: flex;
  align-items: flex-start;
  font-style: italic;
  justify-content: center;
  color:dodgerblue;
  text-align: center;
  padding: 1rem;
}
